#hr12, #hr24 { /* styled the 12 and 24 hour clocks */
  color: #00FF00;
  font-size: 1.5rem;
  padding: 1rem;
  border: 0.1rem solid #00FF00;
  border-radius: 5px;
  text-align: center;
}

#date { /* styled the date information */
  color: #1E90FF;
  text-align: center;
}

body { /* styled the background image, while there are no body tags they exist in the DOM and can be seen in the browser Dev tools */
  background-color: #000000;
  height: 100vh;
  color: #FFFFFF;
  font-size: 1rem;
  margin: 2px;
  padding: 5px;
  text-align: center;
  justify-content: center;
  font-family: 'Satisfy', cursive;
}

#clock-container {
  border: 0.5rem solid #00FF00;
  border-radius: 5px;
  display: inline-block; /* shrink-wrap around content */
  padding: 1rem;
  text-align: center;
}